@charset "UTF-8";
/*
em Html é id = em CSS é #(unico - em apenas um documento)
em Html é class = em CSS é .(multiplo) + pode uncluir mais de uma class em um elemento
*/
body{
    background-color: rgb(127, 255, 212);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    color: rgb(127, 255, 0);
}
h1#principal{
    text-align: center;
    background-color: chartreuse;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    color: rgb(0, 100, 0);
}

.basico{
color: green;
}

.intermediario{
color: rgb(126, 128, 0);
}

.avancado{
color: rgb(128, 0, 0);
}