@charset "UTF-8";

body {
    background-color: lightgrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;        }
h1 {
    color: blueviolet;
    background-color: aquamarine;
}
h2{
    color: darkmagenta;
}
p {
    text-align: justify;
}